<div class="paginator-list">
  <weblancer-button><div class="paginator-list__active">1</div></weblancer-button>
  <weblancer-button [transparent]="true" [noBorder]="true"><div class="paginator-list__inactive text-regular">2</div></weblancer-button>
  <weblancer-button [transparent]="true" [noBorder]="true"><div class="paginator-list__inactive text-regular">3</div></weblancer-button>
  <weblancer-button [transparent]="true" [noBorder]="true"><div class="paginator-list__switcher text-regular">></div></weblancer-button>
  <weblancer-button [transparent]="true" [noBorder]="true"><div class="paginator-list__inactive text-regular">7</div></weblancer-button>
  <weblancer-button [transparent]="true" [noBorder]="true"><div class="paginator-list__inactive text-regular">8</div></weblancer-button>
  <weblancer-button [transparent]="true" [noBorder]="true"><div class="paginator-list__inactive text-regular">9</div></weblancer-button>
</div>
