<div class="footer">
  <div class="footer__main-info">
    <div class="footer__main-info__section-title text-large">Main</div>
    <div class="footer__main-info__link-refs-column">
      <a href="#" class="text-regular">Blog</a>
      <a href="#" class="text-regular">Set alerts</a>
      <a href="#" class="text-regular">Premium</a>
      <a href="#" class="text-regular">Configure</a>
      <a href="#" class="text-regular">FAQ</a>
    </div>
  </div>
  <div class="footer__portfolio-info">
    <div class="footer__portfolio-info__section-title text-large">Portfolio</div>
    <div class="footer__portfolio-info__link-refs-column">
      <a href="#" class="text-regular">Risk heatmap</a>
      <a href="#" class="text-regular">Upside calculation</a>
      <a href="#" class="text-regular">Trades</a>
      <a href="#" class="text-regular">Stock</a>
    </div>
  </div>
  <div class="footer__sectors-info">
    <div class="footer__sectors-info__section-title text-large">Sectors</div>
    <div class="footer__sectors-info__link-refs-column">
      <a href="#" class="text-regular">Visuals</a>
      <a href="#" class="text-regular">Sector data</a>
      <a href="#" class="text-regular">Strategy</a>
    </div>
  </div>
  <div class="footer__social-media-info">
    <div class="footer__social-media-info__section-title text-large">Social media</div>
    <div class="footer__social-media-info__link-refs-row">
      <mat-icon class="footer__social-media-info__link-refs-row__icon" [svgIcon]="'facebook'"></mat-icon>
      <mat-icon class="footer__social-media-info__link-refs-row__icon" [svgIcon]="'instagram'"></mat-icon>
      <mat-icon class="footer__social-media-info__link-refs-row__icon" [svgIcon]="'twitter'"></mat-icon>
    </div>
  </div>
</div>
