$primary-color: #62C37D;

$main-backgound: #F5F5F5;

$secondary-backgound: #F5F5F5;

$disabled-background: #DCE5EB;

$disabled-text-color: #8E92A3;

$main-text-color: #333333;

$border-color: #EAEAEA;

$link-text-color: #5f6388;
